# 21. for loops

In [1]:
pk_temp = (10, 20, 30)

In [2]:
for i in pk_temp:
    print(i)

10
20
30

In [4]:
numbers = [10, 20, 300, -1, 2, 200, -10]
min_val = numbers[0]
for val in numbers:
    if val < min_val:
        min_val = val
        
print(min_val)

-10

In [5]:
numbers = [10, 20, 300, -1, 2, 200, -10]
min_val = numbers[0]
for val in numbers[0:2]:
    if val < min_val:
        min_val = val
        
print(min_val)

10

In [6]:
# maximum
# Average
# konsi value kitni bar ae hai
# binary to decimale

## Class 5

Tasks

In [56]:
var = ['A', 'A', 'A', 'B', 'C', 'A', 'D', 'D' ,'E']
var

['A', 'A', 'A', 'B', 'C', 'A', 'D', 'D', 'E']

In [19]:
var1 = var[:3] # var[0:3]
var2 = var[3:6]
var3 = var[6:] # var[6:9]

In [23]:
var1

['A', 'A', 'A']

In [24]:
var2

['B', 'C', 'A']

In [25]:
var3

['D', 'D', 'E']

In [32]:
var4 = var[:5]
var5 = var[5:]

In [30]:
var4

['A', 'A', 'A', 'B', 'C']

In [33]:
var5

['A', 'D', 'D', 'E']

In [37]:
v = 5
var[:v]

['A', 'A', 'A', 'B', 'C']

In [51]:
x = [1,2,3]
y = tuple(x)
print(x)
print(y)

[1, 2, 3]
(1, 2, 3)

In [52]:
type(x)

list

In [53]:
x = (1,2,3)
y = list(x)
print(x)
print(y)

(1, 2, 3)
[1, 2, 3]

In [54]:
type(x)

tuple

In [60]:
var = ['A', 'A', 'A', 'B', 'C', 'A', 'D', 'D' ,'E']
var

['A', 'A', 'A', 'B', 'C', 'A', 'D', 'D', 'E']

In [133]:
val1 = []
for v in var:
    # print(v)
    val1.append(v)
val1

['A', 'A', 'A', 'B', 'C', 'A', 'D', 'D', 'E']

In [134]:
val1

['A', 'A', 'A', 'B', 'C', 'A', 'D', 'D', 'E']

# 21. for loops

In [84]:
city_to_check = "Tucson"

cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson",
"Great Falls", "Honolulu"]

In [85]:
for clean_city in cleanest_cities:
    if city_to_check == clean_city:
        print("It's one of the cleanest cities")

It's one of the cleanest cities

In the course of comparing the city in question against the list of clean cities,
if Python finds a match, there's no point in continuing the loop. So you stop the
loop by adding a break statement:

In [86]:
for clean_city in cleanest_cities:
    if city_to_check == clean_city:
        print("It's one of the cleanest cities")
        break

It's one of the cleanest cities

Assinment \
make a list of 10 cities from pakistan \
and identify which city contain 'K' in its name

In [120]:
pakistan_cities = ["karachi", "islamabad", "rawalpindi", "lahore", "faislabad", 
                   "multan", "larkana", "quetta", "peshawar","bawalput"]
for cities in pakistan_cities:
    if 'k' in cities:
        print("contain k alphabet in cit " + cities)      
    else:
        print("Not Found k alphabet in city " + cities)

contain k alphabet in cit karachi
Not Found k alphabet in city islamabad
Not Found k alphabet in city rawalpindi
Not Found k alphabet in city lahore
Not Found k alphabet in city faislabad
Not Found k alphabet in city multan
contain k alphabet in cit larkana
Not Found k alphabet in city quetta
Not Found k alphabet in city peshawar
Not Found k alphabet in city bawalput

In [118]:
 pakistan_cities = ["karachi", "islamabad", "rawalpindi", "lahore", "faislabad", 
                   "multan", "larkana", "quetta", "peshawar","bawalput"]
not_found_cities = []
for cities in pakistan_cities:
    if 'i' in cities:
        print("contain i alphabet in this city " + cities)      
    else:
        not_found_cities.append(cities)

contain i alphabet in this city karachi
contain i alphabet in this city islamabad
contain i alphabet in this city rawalpindi
contain i alphabet in this city faislabad

In [117]:
not_found_cities

['lahore', 'multan', 'larkana', 'quetta', 'peshawar', 'bawalput']

In [9]:
people_names = ["waqar", "waqas", 'ali', 'hassan', 'hussain', 'qasim', 'mehar', 'nizam', 'umer', 'usman']
alpha = input("Which Charactor Name you want to check? Please Enter ")
for names in people_names:
    if alpha in names:
        print("Names with contain " + alpha + " Charactor " + names)
else:
    print("Not found name with " + alpha + " Charactor ")

Which Charactor Name you want to check? Please Enter i
Names with contain i Charactor ali
Names with contain i Charactor hussain
Names with contain i Charactor qasim
Names with contain i Charactor nizam
Not found name with i Charactor

In [10]:
people_names = ["waqar", "waqas", 'ali', 'hassan', 'hussain', 'qasim', 'mehar', 'nizam', 'umer', 'usman']
alpha = input("Which Charactor Name you want to check? Please Enter ")
for names in people_names:
    if alpha in names:
        print("Names with contain " + alpha + " Charactor " + names)
        if alpha in names:
            break
else:
    print("Not found name with " + alpha + " Charactor ")

Which Charactor Name you want to check? Please Enter i
Names with contain i Charactor ali