# Functions

In [1]:
a = """A function is a block of Python code that robotically does the same thing again
and again, whenever you invoke its name. It saves you repetitive coding and
makes your code easier to understand.
"""

In [2]:
word_list = a.split()
print(len(word_list), word_list)
print('function' in word_list)

34 ['A', 'function', 'is', 'a', 'block', 'of', 'Python', 'code', 'that', 'robotically', 'does', 'the', 'same', 'thing', 'again', 'and', 'again,', 'whenever', 'you', 'invoke', 'its', 'name.', 'It', 'saves', 'you', 'repetitive', 'coding', 'and', 'makes', 'your', 'code', 'easier', 'to', 'understand.']
True

In [9]:
def add_num():
    num1 = 2
    num2 = 3
    total = num1 + num2
    print(total)
    
add_num()

5

In [8]:
add_num()

5

positional arguments

In [10]:
def add_num2(num1, num2):
    total = num1 + num2
    print(total)
    
add_num2(4,5)

9

Assigning a default value to
a parameter

In [18]:
def calc_tax(sales, tax_rate=2):
    print(sales * tax_rate)
calc_tax(5000)

10000

In [20]:
calc_tax(5000,3)

15000

Note: Only keyword parameters can have a default value. Positional
parameters can't.

In [40]:
customers = {
    0: {
        "first name":"John",
        "last name": "Ogden",
        "address": "301 Arbor Rd.",
    },
    1: {
        "first name":"Ann",
        "last name": "Sattermyer",
        "address": "PO Box 1145",
    },
    2: {
        "first name":"Jill",
        "last name": "Somers",
        "address": "3 Main St.",
    },
}
def find_something(dict, inner_dict, target):
    data = dict[inner_dict]
    print(data[target])
    print(dict[inner_dict][target])
    
    
find_something(customers, 1, "first name")

Ann
{'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'}

In [30]:
def find_something(dict, inner_dict, target):
    print(dict[inner_dict][target])

find_something(customers, 1, "last name")

Sattermyer

one * for list
two * for dict

In [41]:
def display_nums(first_num, second_num,
*opt_nums):
    print(first_num)
    print(second_num)
    print(opt_nums)
    
display_nums(100, 200, 300, 400, 500)

100
200
(300, 400, 500)

In [49]:
def display_nums2(basic_salary, house_rent,
**other_benifits):
    print(basic_salary)
    print(house_rent)
    print(other_benifits)
    
display_nums2(10000, 2000, other_benifits=4000, bonus=1000)
display_nums2(10000, 2000, other_benifits=4000)
display_nums2(10000, 2000)

10000
2000
{'other_benifits': 4000, 'bonus': 1000}
10000
2000
{'other_benifits': 4000}
10000
2000
{}

In [50]:
def calc_tax(sales, tax_rate=2):
    tax = sales * tax_rate
    return tax
calc_tax(5000)

10000

page no 142 139 136 132 129 144

Functions: Local vs. global variables