# 21. for loops

In [1]:
pk_temp = (10, 20, 30)

In [2]:
for i in pk_temp:
    print(i)

10
20
30

In [4]:
numbers = [10, 20, 300, -1, 2, 200, -10]
min_val = numbers[0]
for val in numbers:
    if val < min_val:
        min_val = val
        
print(min_val)

-10

In [5]:
numbers = [10, 20, 300, -1, 2, 200, -10]
min_val = numbers[0]
for val in numbers[0:2]:
    if val < min_val:
        min_val = val
        
print(min_val)

10

In [6]:
# maximum
# Average
# konsi value kitni bar ae hai
# binary to decimale

## Class 5

Tasks

In [56]:
var = ['A', 'A', 'A', 'B', 'C', 'A', 'D', 'D' ,'E']
var

['A', 'A', 'A', 'B', 'C', 'A', 'D', 'D', 'E']

In [19]:
var1 = var[:3] # var[0:3]
var2 = var[3:6]
var3 = var[6:] # var[6:9]

In [23]:
var1

['A', 'A', 'A']

In [24]:
var2

['B', 'C', 'A']

In [25]:
var3

['D', 'D', 'E']

In [32]:
var4 = var[:5]
var5 = var[5:]

In [30]:
var4

['A', 'A', 'A', 'B', 'C']

In [33]:
var5

['A', 'D', 'D', 'E']

In [37]:
v = 5
var[:v]

['A', 'A', 'A', 'B', 'C']

In [51]:
x = [1,2,3]
y = tuple(x)
print(x)
print(y)

[1, 2, 3]
(1, 2, 3)

In [52]:
type(x)

list

In [53]:
x = (1,2,3)
y = list(x)
print(x)
print(y)

(1, 2, 3)
[1, 2, 3]

In [54]:
type(x)

tuple

In [60]:
var = ['A', 'A', 'A', 'B', 'C', 'A', 'D', 'D' ,'E']
var

['A', 'A', 'A', 'B', 'C', 'A', 'D', 'D', 'E']

In [133]:
val1 = []
for v in var:
    # print(v)
    val1.append(v)
val1

['A', 'A', 'A', 'B', 'C', 'A', 'D', 'D', 'E']

In [134]:
val1

['A', 'A', 'A', 'B', 'C', 'A', 'D', 'D', 'E']

# 21. for loops

In [84]:
city_to_check = "Tucson"

cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson",
"Great Falls", "Honolulu"]

In [85]:
for clean_city in cleanest_cities:
    if city_to_check == clean_city:
        print("It's one of the cleanest cities")

It's one of the cleanest cities

In the course of comparing the city in question against the list of clean cities,
if Python finds a match, there's no point in continuing the loop. So you stop the
loop by adding a break statement:

In [86]:
for clean_city in cleanest_cities:
    if city_to_check == clean_city:
        print("It's one of the cleanest cities")
        break

It's one of the cleanest cities

Assinment \
make a list of 10 cities from pakistan \
and identify which city contain 'K' in its name

In [120]:
pakistan_cities = ["karachi", "islamabad", "rawalpindi", "lahore", "faislabad", 
                   "multan", "larkana", "quetta", "peshawar","bawalput"]
for cities in pakistan_cities:
    if 'k' in cities:
        print("contain k alphabet in cit " + cities)      
    else:
        print("Not Found k alphabet in city " + cities)

contain k alphabet in cit karachi
Not Found k alphabet in city islamabad
Not Found k alphabet in city rawalpindi
Not Found k alphabet in city lahore
Not Found k alphabet in city faislabad
Not Found k alphabet in city multan
contain k alphabet in cit larkana
Not Found k alphabet in city quetta
Not Found k alphabet in city peshawar
Not Found k alphabet in city bawalput

In [118]:
 pakistan_cities = ["karachi", "islamabad", "rawalpindi", "lahore", "faislabad", 
                   "multan", "larkana", "quetta", "peshawar","bawalput"]
not_found_cities = []
for cities in pakistan_cities:
    if 'i' in cities:
        print("contain i alphabet in this city " + cities)      
    else:
        not_found_cities.append(cities)

contain i alphabet in this city karachi
contain i alphabet in this city islamabad
contain i alphabet in this city rawalpindi
contain i alphabet in this city faislabad

In [117]:
not_found_cities

['lahore', 'multan', 'larkana', 'quetta', 'peshawar', 'bawalput']

In [15]:
people_names = ["waqar", "waqas", 'ali', 'hassan', 'hussain', 'qasim', 'mehar', 'nizam', 'umer', 'usman']
alpha = input("Which Charactor Name you want to check? Please Enter ")
for names in people_names:
    if alpha in names:
        print("Names with contain " + alpha + " Charactor " + names)
else:
    print("Not found name with " + alpha + " Charactor ")

Which Charactor Name you want to check? Please Enter q
Names with contain q Charactor waqar
Names with contain q Charactor waqas
Names with contain q Charactor qasim
Not found name with q Charactor

In [26]:
people_names = ["waqar", "waqas", 'ali', 'hassan', 'hussain', 'qasim', 'mehar', 'nizam', 'umer', 'usman']
alpha = input("Which Charactor Name you want to check? Please Enter ")
for names in people_names:
    if alpha in names:
        print("\nNames with contain " + alpha + " Charactor " + names)
print("\n")  
for names in people_names:
    if alpha not in names:
        print("Not found name with " + alpha + " Charactor " + names)

Which Charactor Name you want to check? Please Enter q

Names with contain q Charactor waqar

Names with contain q Charactor waqas

Names with contain q Charactor qasim


Not found name with q Charactor ali
Not found name with q Charactor hassan
Not found name with q Charactor hussain
Not found name with q Charactor mehar
Not found name with q Charactor nizam
Not found name with q Charactor umer
Not found name with q Charactor usman

In [4]:
cities = ["karachi", "Hyderabad", "Islamabad", "Sukkhur", "Larkana", "Lahore", "Quetta", "Daddu", "Thatta"," Sawat"]

not_k_in_cities = []

for i in cities:
    if not "k" in i:
        not_k_in_cities.append(i)
        
print(not_k_in_cities)

['Hyderabad', 'Islamabad', 'Lahore', 'Quetta', 'Daddu', 'Thatta', ' Sawat']

# 24. Changing case

In [13]:
a = "waqar"
a

'waqar'

In [14]:
a.upper()

'WAQAR'

In [15]:
a.lower()

'waqar'

In [16]:
a.title()

'Waqar'

In [1]:
cities = ["Cheyenne", "cheyenne", "SantaFe", "santa fe", "Tucson", "tucson"]

In [2]:
cities

['Cheyenne', 'cheyenne', 'SantaFe', 'santa fe', 'Tucson', 'tucson']

In [27]:
cities = [word.upper() for word in cities]
cities

['CHEYENNE', 'CHEYENNE', 'SANTAFE', 'SANTA FE', 'TUCSON', 'TUCSON']

In [28]:
cities = [word.lower() for word in cities]
cities

['cheyenne', 'cheyenne', 'santafe', 'santa fe', 'tucson', 'tucson']

In [29]:
cities = [word.title() for word in cities]
cities

['Cheyenne', 'Cheyenne', 'Santafe', 'Santa Fe', 'Tucson', 'Tucson']

In [3]:
for word in cities:
    result = word.upper()
result

'TUCSON'

In [5]:
sizes = [523, 645, 708, 1034, 2290, 2545]
prices = [115, 150, 210, 280, 355, 440]

c = 0

# Logic :  m = price/sizes - c # ignore c bcz its zero
# Logic : price = size * m + c

multipliers = []
m =0
loc=0
for price in prices:
    m= price/sizes[loc]
    multipliers.append(m)
    loc = loc+1
    
print(multipliers)
multiplier = sum(multipliers)/len(multipliers)
print(multiplier)

[0.2198852772466539, 0.23255813953488372, 0.2966101694915254, 0.27079303675048355, 0.15502183406113537, 0.17288801571709234]
0.2246260788002957

In [6]:
sizes = [523, 645, 708, 1034, 2290, 2545]
prices = [115, 150, 210, 280, 355, 440]

c = 0

# Logic :  m = price/sizes - c # ignore c bcz its zero
# Logic : price = size * m + c

multipliers = []
m =0
# loc=0
for loc in range(len(prices)):
    m= prices[loc]/sizes[loc]
    multipliers.append(m)
    loc = loc+1
    
#print(multipliers)
avg_multiplier = sum(multipliers)/len(multipliers)
print(avg_multiplier)

#testing
for  loc in range (len(prices)):
    price = avg_multiplier * sizes[loc] +c
    print("predicted :", price, "Actual : ", prices[loc])

0.2246260788002957
predicted : 117.47943921255465 Actual :  115
predicted : 144.8838208261907 Actual :  150
predicted : 159.03526379060935 Actual :  210
predicted : 232.26336547950575 Actual :  280
predicted : 514.3937204526771 Actual :  355
predicted : 571.6733705467525 Actual :  440

# DICTIONARIES

In [7]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}
print(customer_29876)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.'}

In [8]:
rankings = {5: "Finland", 2: "Norway", 3: "Sweden",7: "Iceland"}
print(rankings)

{5: 'Finland', 2: 'Norway', 3: 'Sweden', 7: 'Iceland'}

In [9]:
things_to_remember = {}
things_to_remember[0] = "the lowest number"
print(things_to_remember)
things_to_remember["a dozen"] = 12
print(things_to_remember)

{0: 'the lowest number'}
{0: 'the lowest number', 'a dozen': 12}

# things to remember
### function mean indepndnt of variable
### method mean part of variabl

In [11]:

std1 = {"name": "Kamran", "Class": "aic", "Session": 1 }
std2 = {"name": "Ali", "Class": "cnc", "Session": 2 }
std3 = {"name": "Noman", "Class": "btc", "Session": 3 }

students = {}

students["aic-a01"] = std1
students["cnc-a01"] = std2
students["btc-a01"] = std3

print(students)

{'aic-a01': {'name': 'Kamran', 'Class': 'aic', 'Session': 1}, 'cnc-a01': {'name': 'Ali', 'Class': 'cnc', 'Session': 2}, 'btc-a01': {'name': 'Noman', 'Class': 'btc', 'Session': 3}}

In [12]:
#Assignment
# for loop to print each dictionary values seperatly
# example: 
# student : aic a01
# class aic
# name : Kamran
# session : 1


std1 =  [{"student":"aic a01", "name": "Kamran", "Class": "aic", "Session": 1 },
        {"student":"cnc c02","name": "Ali", "Class": "cnc", "Session": 2 },
        {"student":"btc a03","name": "Noman", "Class": "btc", "Session": 3 }]

# print(std1)
for each_key in std1:
    print(each_key)

{'student': 'aic a01', 'name': 'Kamran', 'Class': 'aic', 'Session': 1}
{'student': 'cnc c02', 'name': 'Ali', 'Class': 'cnc', 'Session': 2}
{'student': 'btc a03', 'name': 'Noman', 'Class': 'btc', 'Session': 3}

In [4]:
import pandas as np
x = np.array([1,2,3,4,5])
np.x

AttributeError: module 'pandas' has no attribute 'sum'

In [9]:
number = [1,2,3,4,5]
sum = 0
for numbers in number:
    sum += numbers
print(sum)

15

In [ ]:
import pandas as np
x = input("Please enter an interger")
num = range(x)
print(num)

In [13]:
student_29876 = {"name": "waqar", "class": "x", "marks": 70}
print(student_29876)

print(student_29876["marks"])

{'name': 'waqar', 'class': 'x', 'marks': 70}
70

In [15]:
student_29876 = {"name": "waqar", "class": "x", "marks": [70, 50, 40, 60]}

print(student_29876["marks"])

[70, 50, 40]

In [21]:
student_29876 = {"name": "waqar", "class": "x", "marks": [70, 50, 40, 60]}

print(student_29876["marks"])

[70, 50, 40, 60]

In [27]:
student_29876 = {"name": "waqar",
                 "class": "AI",
                 "marks": {"quiz1": 40, "quiz2": 45, "mid": 50, "final":55}}
exam_name= input("Exam Name: ")
print(student_29876["marks"][exam_name])

Exam Name: final
55

In [26]:
student_29876 = {"name": "waqar",
                 "class": "AI",
                 "marks": {"quiz1": 40, "quiz2": 45, "mid": 50, "final":55}}
exam_name= input("Exam Name: ")
marks = student_29876["marks"]
print(marks[exam_name])

Exam Name: mid
50

In [29]:
# 10 student
# 2 classes
# 4 exam
# 3 attempt allowed
# take take student name and exam_name
# as input and show in which class
# the student get maximum marks

In [2]:
students = []
class1= {"name":"AI",
         "marks":
         {"quiz1": 40,
          "quiz2": 45,
          "mid": 50,
          "final": 55,
         
         }
    }

class2= {"name":"CNC",
         "marks":
         {"quiz1": 40,
          "quiz2": 45,
          "mid": 50,
          "final": 55,
         
         }
    }

student_01 = {
    "name": "waqar",
    "class_AI": class1,
    "class_CNC": class2
}

students.append(student_01)
print(students)

[{'name': 'waqar', 'class_AI': {'name': 'AI', 'marks': {'quiz1': 40, 'quiz2': 45, 'mid': 50, 'final': 55}}, 'class_CNC': {'name': 'CNC', 'marks': {'quiz1': 40, 'quiz2': 45, 'mid': 50, 'final': 55}}}]

In [9]:
customer_29876 = {
"first name": "David",
"last name": "Elliott",
"address": "4803 Wellesley St.",
"discounts": ["brother-in-law", "standard", "volume", "loyalty",]
}

discount_amount = 0
if "brother-in-law" in customer_29876["discounts"]:
    discount_amount = .30
elif "loyalty" in customer_29876["discounts"]:
    discount_amount = .15
elif "volume" in customer_29876["discounts"]:
    discount_amount = .10
elif "standard" in customer_29876["discounts"]:
    discount_amount = .05
    
print(discount_amount)

0.3

In [12]:
customer_29876 = {
"first name": "David",
"last name": "Elliott",
"address": "4803 Wellesley St.",
"discounts": ["brother-in-law", "standard", "volume", "loyalty",]
}

discount_amount = 0
if "brother-in-law" in customer_29876["discounts"]:
    discount_amount += .30
if "loyalty" in customer_29876["discounts"]:
    discount_amount += .15
if "volume" in customer_29876["discounts"]:
    discount_amount += .10
if "standard" in customer_29876["discounts"]:
    discount_amount += .05
    
print(discount_amount)

0.6